name: Deploy Backend to Hugging Face

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - "Dockerfile"
  workflow_dispatch:

jobs:
  deploy-to-hf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add space https://anuragV18:$HF_TOKEN@huggingface.co/spaces/anuragV18/hireinn-api
          git push -f space main
